@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.default-font {
    font-size: 14px;
}

.min-font {
    font-size: 12px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    
}

.left-header {
    margin-left: 20px;;
    display: flex;
    width: 146px;
    height: 24px;
    justify-content: space-between;
    align-items: center;
}
.left-header img {
 object-fit: none;   
}

#search-area-header {
    display:flex;
    height: 40px;
}

#search-header {
    padding: 0;
    width: 348px;
    height: 40px;
    border: 1px solid rgba(204, 204, 204, 1);
    border-right: none;
}

#button-search-area-header {
    width: 57px;;
    height: 40px;
    border-radius: 0;
    border: 1px solid rgba(204, 204, 204, 1);
    align-items: center;
    background-color: rgba(248, 248, 248, 1);
}

.right-header {
    margin-right: 20px;
    display: flex;
    width: 130px;
    height: 34px;
    justify-content: space-between;
    align-items: center;
}

#user-logo img {
    height: 34px;
}

body {
    background-color: rgba(249, 249, 249, 1);
}

.watching-video {
    margin: 30px 30px 0 60px;
    display:flex;
    flex-direction: column;
    width: 952px;
    height: 746px;
    gap: 20px;
}

.watching-video h3 {
    font-size: 20px;
    font-weight: 600;
}

.video-actions {
    display:flex;
    width: 902px;
    height: 42px;
    justify-content: space-between;
    align-items: center;
}

.channel-infos {
    display: flex;
    gap: 10px;
    align-items: center;
}

.channel-infos #dio {
    font-weight: 600;
}

.channel-infos #inscritos {
    font-weight: 400;
    color: rgba(81, 81, 81, 1);
}


.video-actions button {
    width: 159px;
    height: 40px;
    text-transform: uppercase;
    color:#fff;
    background-color: rgba(204, 0, 0, 1);
    border-radius: 2px;
    border: none;
}

.video-actions .like {
    display: flex;
    gap: 8px;
    font-weight: 600;
}

.video-actions .dislike {
    display: flex;
    font-weight: 600;
    gap: 8px;
}

.video-actions .share {
    display: flex;
    font-weight: 600;
    gap: 8px;
}

.video-actions .download {
    display: flex;
    font-weight: 600;
    gap: 8px;
}